<!DOCTYPE html>
<html>
<meta name="viewport"
    content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Document</title>


<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./normalize.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="./scrolbar.scss">
</head>

<body>
    <div id="app" class="box">
        <div class="header">
            <a href="https://7zbj.eu.org/">
                <div class="headericon">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-ChatGPT"></use>
                    </svg>
                </div>
            </a>


            <div class="header-nav">
                <div class="switch">
                    <el-switch v-model="isCollapse" @change="change(notisCollapse)" active-color="#13ce66"
                        inactive-color="#ff4949">
                    </el-switch>
                </div>
                <a href="https://7zbj.eu.org/">
                    <el-popover placement="bottom" title="" width="50" trigger="click" content="七仔笔记">
                        <h5>首页刷新</h5>
                        <el-button size="mini" slot="reference">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-shouye"></use>
                            </svg>
                            <sapn>首页</sapn>
                        </el-button>
                    </el-popover>
                </a>

                <el-popover placement="bottom" title="" width="50" trigger="click" content="七仔笔记">
                    <h2>关注公众号</h2>
                    <h3>七仔笔记</h3>
                    <img :src="img" alt="七仔笔记">

                    <el-button size="mini" slot="reference">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-weixin"></use>
                        </svg>
                        <sapn>反走丢</sapn>
                    </el-button>
                </el-popover>

                <div class="notion">
                    <el-carousel indicator-position="none" direction="vertical" autoplay="true">
                        <el-carousel-item v-for="item in megs" :key="item.id">
                            <h3>{{ item.text }}</h3>
                        </el-carousel-item>
                    </el-carousel>
                </div>

            </div>

        </div>
        <div class="contain">
            <div class="nav">
                <el-menu class="up" default-active="0" background-color="#F2F6FC" class="el-menu-vertical-demo" :collapse="isCollapse">
                    <el-scrollbar style="height: 100%">
                        <!-- 滚动条要包裹的内容 -->
                        <div class="container">
                            <el-menu-item v-for="item in lists" :index="item.id" @click="changurl(item.url)">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-ChatGPT"></use>
                                </svg>
                                <span slot="title">{{item.title}}</span>
                            </el-menu-item>
                        </div>
                    </el-scrollbar>
                </el-menu>
                <div class="down">
                    <el-menu default-active="" background-color="#F2F6FC" class="el-menu-vertical-demo" :collapse="isCollapse">
                        <el-menu-item v-for="item in auth" :index="item.id" @click="changurl(item.url)">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-ChatGPT"></use>
                            </svg>
                            <span slot="title">{{item.title}}</span>
                        </el-menu-item>
                    </el-menu>
                </div>




            </div>
            <div class="main">
                <iframe :src="url" height="100%" width="100%" frameborder="0"></iframe>
            </div>
        </div>
        <div class="footer">


            <div class="footer-msg">
                <div class="copyright">Copyright © 2023 7zbj</div>
                <div>
                    <a href="https://www.12377.cn/">网上有害信息举报</a>
                </div>

                <div class="ctrl-d">【Ctrl + D】收藏本站！实现ChatGPT自由！</div>
            </div>

        </div>

    </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./font/iconfont.js"></script>
<script src="./data.js"></script>


<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                visible: false,
                isCollapse: true,
                notisCollapse: true,
                megs: [
                    {
                        id: 0,
                        text: "最新网址：https://7zbj.eu.org/（防走丢）"
                    }, {
                        id: 1,
                        text: "最新网址：https://7zbj.eu.org/（防走丢）"
                    }
                ],
                lists: l,
                auth:a,
                url: 'https://chat.jinshutuan.com',
                img: img


            }
        },
        methods: {
            changurl(url) {
                this.url = url
            },
    
        }

    })
</script>

</html>