<!DOCTYPE html>
<html>
<meta name="viewport"
    content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>七仔•chatGPT</title>


<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./normalize.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="./iconfont.css">
</head>

<body>
    <div id="app" class="box" v-cloak>
        <div class="header">
            <a href="https://7zbj.eu.org/">
                <div class="headericon">
                    <div class="topicon"><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-ChatGPT"></use>
                        </svg></div>

                    <div class="top">七仔•chatGPT</div>
                </div>
            </a>


            <div class="header-nav">
                <a href="https://7zbj.eu.org/">
                    <el-popover placement="bottom" title="" width="50" trigger="hover" content="七仔笔记">
                        <h5>首页刷新</h5>
                        <el-button size="mini" slot="reference">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-shouye"></use>
                            </svg>
                            <sapn>首页</sapn>
                        </el-button>
                    </el-popover>
                </a>

                <el-popover placement="bottom" title="" width="50" trigger="hover" content="七仔笔记">
                    <h4>关注公众号</h4>
                    <h5>七仔笔记</h5>

                    <img :src="img" alt="七仔笔记">

                    <el-button size="mini" slot="reference">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-weixin"></use>
                        </svg>
                        <sapn>反走丢</sapn>
                    </el-button>
                </el-popover>

                <div class="notion" v-cloak>


                    <el-carousel indicator-position="none" direction="vertical" autoplay="true" loop="true">
                        <el-carousel-item v-for="item in megs" :key="item.id">
                            <h3>
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-tongzhi"></use>
                                </svg>
                                <span class="iconfont icon-jinzhi1"></span>
                                <span v-if="item.text[1]">{{ item.text }}
                                    <svg class="icon" aria-hidden="true">
                                        <use :xlink:href="item.icon"></use>
                                    </svg>
                                    <span class="iconfont icon-tongzhi"></span>
                                </span>


                            </h3>
                        </el-carousel-item>
                    </el-carousel>
                </div>

            </div>

        </div>
        <div class="contain">
            <div>
                <div class="fl">

                    <el-button size="mini" v-show="btnchange==1" @click="change"><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-qiehuan"></use>
                        </svg>
                        <sapn>展开</sapn>
                    </el-button>
                    <el-button size="mini" v-show="btnchange==3" @click="change"><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-qiehuan"></use>
                        </svg>
                        <sapn>折叠</sapn>
                    </el-button>
                    <el-button size="mini" v-show="btnchange==2" @click="change"><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-qiehuan"></use>
                        </svg>
                        <sapn>隐藏</sapn>
                    </el-button>
                </div>
                <transition name="tr"> <el-aside class="nav" :width="isCollapse ? '6rem' : '16rem' " v-show="!notis">
                        <el-menu class="up" default-active="0" background-color="#F2F6FC" class="el-menu-vertical-demo"
                            :collapse="isCollapse" :collapse-transition=false>
                            <el-scrollbar style="height: 100%">
                                <!-- 滚动条要包裹的内容 -->
                                <div class="container" v-cloak>
                                    <el-menu-item v-for="item in lists" :index="item.id"
                                        @click="changurl(item.url,item.vpnnet)">

                                        <svg class="icon" aria-hidden="true">
                                            <use xlink:href="#icon-ChatGPT"></use>
                                        </svg>
                                        <sapn class="if" v-show="!isCollapse">
                                            <!-- ok -->
                                            <svg class="icon" v-show="item.ok" aria-hidden="true">
                                                <use xlink:href="#icon-ok"></use>
                                            </svg>
                                            <!-- 登入 -->
                                            <svg class="icon" v-show="item.login" aria-hidden="true">
                                                <use xlink:href="#icon-yuechi"></use>
                                            </svg>
                                            <!-- 国际网络 -->

                                            <svg class="icon" v-show="item.vpnnet" aria-hidden="true">
                                                <use xlink:href="#icon-jinzhi1"></use>
                                            </svg>

                                        </sapn>

                                        <span slot="title">{{item.title}}


                                        </span>


                                    </el-menu-item>
                                </div>
                            </el-scrollbar>
                        </el-menu>
                        <div class="down" v-cloak>
                            <el-menu default-active="" background-color="#F2F6FC" class="el-menu-vertical-demo"
                                :collapse="isCollapse" :collapse-transition=false>
                                <el-menu-item v-for="item in auth" :index="item.id" @click="changurl(item.url,'0')"
                                    :key="item.id">
                                    <svg class="icon" aria-hidden="true">
                                        <use :xlink:href="item.icon"></use>
                                    </svg>
                                    <span slot="title">{{item.title}}</span>
                                </el-menu-item>
                            </el-menu>
                        </div>
                    </el-aside></transition>


            </div>
            <div class="main">
                <iframe :src="url" height="100%" width="100%" frameborder="0"></iframe>
            </div>

        </div>
        <div class="footer">


            <div class="footer-msg">
                <div class="copyright">Copyright © 2023 7zbj.eu.org</div>
                <div class="jubao">
                    <a href="https://www.12377.cn/">网上有害信息举报</a>
                </div>

                <div class="ctrl-d">【Ctrl + D】收藏本站！实现ChatGPT自由！</div>
            </div>

        </div>

    </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./font/iconfont.js"></script>
<script src="./data.js"></script>


<script>

    new Vue({
        el: '#app',
        data: function () {
            return {
                visible: false,
                isCollapse: true,
                btnchange: 1,
                notis: false,
                megs: meg,
                lists: l,
                auth: a,
                url: 'https://chat.jinshutuan.com',
                img: img


            }
        },
        methods: {
            changurl(url, v) {
                if (v == '0') {
                    this.url = url
                } else {
                    // document.createElement('')
                    // this.url = url
                    window.open(url);
                }

            },
            change() {
                if (this.btnchange == 3) {
                    this.isCollapse = !this.isCollapse
                    this.notis = !this.notis
                    this.btnchange = 1
                } else if (this.btnchange == 2) {
                    this.notis = !this.notis
                    this.btnchange++
                } else if (this.btnchange == 1) {
                    this.isCollapse = !this.isCollapse
                    this.btnchange++
                }




            }

        }

    })

</script>

</html>