@font-face {
  font-family: "iconfont"; /* Project id 4087529 */
  src: url('iconfont.woff2?t=1685714156755') format('woff2'),
       url('iconfont.woff?t=1685714156755') format('woff'),
       url('iconfont.ttf?t=1685714156755') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qiehuan:before {
  content: "\e60b";
}

.icon-guanyu:before {
  content: "\e65b";
}

.icon-feiji:before {
  content: "\e614";
}

.icon-tongzhi:before {
  content: "\e690";
}

.icon-jinzhi1:before {
  content: "\e65e";
}

.icon-gengxin:before {
  content: "\f308";
}

.icon-guanyuwomen:before {
  content: "\e635";
}

.icon-shouye:before {
  content: "\e6f2";
}

.icon-bangzhu:before {
  content: "\e6c9";
}

.icon-weixin:before {
  content: "\e6b8";
}

.icon-ok:before {
  content: "\e8b6";
}

.icon-tiaozhuan:before {
  content: "\e687";
}

.icon-yuechi:before {
  content: "\e8af";
}

.icon-jinzhi:before {
  content: "\e67b";
}

.icon-ChatGPT:before {
  content: "\e71e";
}

.icon-chatgpt:before {
  content: "\e877";
}

